# Variables and Data Types

In [1]:
a = 10

print(a)

10

In [2]:
b = 10.65

print(b)

10.65

In [3]:
c = "India"

print(c)

India

# Data Types

#### type function

In [4]:
a = 10

print(a)

print(type(a))

10
<class 'int'>

In [5]:
b = 10.65

print(b)

print(type(b))

10.65
<class 'float'>

In [6]:
c = "India"

print(c)

print(type(c))

India
<class 'str'>

In [7]:
a = 10

print(a + 5)

print(a)

15
10

In [8]:
a = 10

a = a + 5

print(a)

15

### String Literals
can be assigned multi line sentences into a variable within """ """

In [1]:
a = """
Hi.
How does String Literal work?
This is
a   
     demo
"""
print(a)

Hi.
How does String Literal work?
This is
a
     demo

### Multple statements Printing

- Concatenating with '+'
- use ',': It will print with space in between

In [2]:
name = "Random"
age = 20
print("My Name is " + name)
print("My Age is", age)

My Name is Random
My Age is 20

**Note**

We Cannot concatenate(+) for age statement because age is an integer. Need to convert type to concatenate


### Formatted string literals

To use f-strings correctly, you should prefix the string with an 'f' character, and then you can enclose expressions in curly braces {} within the string. The expressions inside the curly braces will be evaluated and their values will be inserted into the string.

In [3]:
print(f"My name is {name} and my age is {age}")

My name is Random and my age is 20